.choose-location
  .row
    .col-12.col-sm-8.text-center
      CHOOSE YOUR LOCATION 
    .col-12.col-sm-4.text-center
      %span.dropdown
        %button#dropdownMenuButton.btn.btn-sm.dropdown-toggle.btn.btn-default{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          SELECT LOCATION
        .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
          %a.dropdown-item{:href => "#"} Action
          %a.dropdown-item{:href => "#"} Another action
          %a.dropdown-item{:href => "#"} Something else here