.row
  .col-12.text-center
    =image_tag "camp_adventure_logo.png", class: "footer-logo "
  .col-12
    %ul.nav.footer-links
      %li
        %a{:href => "http://campadventureland.com/about/"} About
      %li.sep |
      %li
        %a{:href => "http://campadventureland.com/experiences/corporate-events/", :title => "Corporate Events"} Corporate Events
      %li.sep.square ■
      %li
        %a{:href => "http://campadventureland.com/experiences/leagues/", :title => "Leagues"} Leagues
      %li.sep.square ■
      %li
        %a{:href => "http://campadventureland.com/experiences/parties-events/", :title => "Parties & Events"} Parties & Events
      %li.sep |
      %li
        %a{:href => "http://campadventureland.com/careers/", :title => "Careers"} Careers
      %li.sep |
      %li
        %a{:href => "http://campadventureland.com/media/", :title => "Media"} Media
      %li.sep |
      %li
        %a{:href => "http://campadventureland.com/contact-us/", :title => "Contact Us"} Contact Us
  .col-12
    %ul.nav.footer-links
      %li
        %a{:href => "http://campadventureland.com/boothwyn-pa/"} Boothwyn, PA
      %li.square ■
      %li
        %a{:href => "http://campadventureland.com/horsham-pa/"} Horsham, PA
      %li.square ■
      %li
        %a{:href => "http://campadventureland.com/middletown-de/"} Middletown, DE
  .col-12.copyright.text-center
    Copyright © 2019 Camp Adventureland - All Rights Reserved | Privacy Policy | Terms of Use | Site by beMarketing | Site Map