.row
  .col-sm-12
    %h2.text-center.our-adventures-perfect
      Our Adventures Are Perfect For
  .col-md-4.col-sm-12.our-adventures-border.our-adventures-third
    =image_tag 'corporate_pic.png', class:"fit"
    .text-center
      =image_tag 'PeopleIcon.png'
    %h3.text-center
      Corporate Events
    %p.our-adventures-padding
      Camp Adventureland is the perfect place for an amazing corporate outing. Whether you opt for our hatchet throwing or escape adventures, we provide top team building activities as a way to increase and improve delegation, communication, and creativity among your employees. Camp Escape games promote challenges in an interactive environment, in which success relies on everyone contributing to the group. Our games spark engaging puzzles that require true teamwork to solve. Our hatchet sessions truly get the staff to bond by cheering on their coworkers’ successes! It’s a great way to increase productivity and improve morale. We offer options for teams of all sizes! Contact us today and let us organize your team building event!
  .col-md-4.col-sm-12.our-adventures-border.our-adventures-third
    =image_tag 'leagues_pic.png', class:"fit"
    .text-center
      =image_tag 'FamilyIcon.png', class:"text-center"
    %h3.text-center Leagues
    %p.our-adventures-padding
      Gather your friends or colleagues for upcoming hatchet throwing leagues starting soon at Camp Adventureland. Keep an eye out for the many kinds of themed leagues that fit all types of different groups, ages, and skill levels. Various season lengths will accommodate any busy schedule as well. Whether it’s for fun or just friendly bragging rights, we are excited to offer team oriented and individual winners to involve all levels of competitors - Let the hatchets fly at Camp Adventureland, the premier place to play!
  .col-md-4.col-sm-12.our-adventures-third
    =image_tag 'birthday_pic.png', class:"fit"
    .text-center
      =image_tag 'BirthdayIcon.png', class:"text-center"
    %h3.text-center Parties and Events
    %p.our-adventures-padding
      Whether it’s a birthday party, an anniversary, or a retirement, having your shindig at Camp Adventureland is unlike any other. We host celebrations for children and adults, but regardless of age, we always strive to make it a lasting impression you’ll never forget! We tailor each hatchet throwing or escape room party to fit your special requests. Also, fundraiser events at Camp Adventureland are a great way for people to have a thrilling time while making cash for your good cause! No matter if your group is 8 or 80, we can accommodate groups of all sizes for all kinds of events! Bring your friends, family, and get energized at your next special celebration, and don’t forget to make it an adventure!