.container.margin-left-small
  .row.center-row
    .col-2
    .col-10
      %h2 WHAT IS CAMP ADVENTURELAND
      %p
        Welcome campers! Camp Adventureland has it all under one roof! We’re not just some cookie cutter hatchet throwing company, our goal is to bring the next level of entertainment to you. Combining the sport of hatchet throwing and movie set-like escape rooms, we bring new adventures for you to experience at every visit. Our full-service menu lets you enjoy a night out with your family that’s unforgettable. Gather your family, friends, or coworkers and our highly skilled counselors will take care of the rest! Whatever your age, when you walk through our arches you will be transported back in time to enjoy an 80s summer camp theme. Equal parts challenging and thrilling, Camp Adventureland has something for everyone!
  .row.center-row
    .col-2.text-right
      =image_tag "escape-badge.png", class:"badge-image"
    .col-10
      %h2 AT CAMP ESCAPES, THE STORIES BECOME REALITY
      %p
        Gather around our fire pit and be transported into your own campfire story adventure! Your adventures await as you work together with your group and your greatest tool is your imagination! A new twist to the typical escape room experience, you may find yourself taking part in a train robbery, exploring ancient Aztec ruins, busting mobsters in a 1920s era speakeasy, or many of our other unique and incredibly immersive interactive games. 
  .row.center-row
    .col-2.text-right
      =image_tag "hatchet-badge.png", class:"badge-image"
    .col-10
      %h2 COWABUNGA CAMPERS, HATCHETS WILL FLY!
      %p 
        Are you ready for a totally gnarly good time? Head over to our indoor 80s style campground to play in the competitive sport of hatchet throwing! It’s an outrageous and exciting experience for the whole family. Our Camp Counselors will teach you the basics of how to throw in 10 to 15 minutes and then you get to compete against your fellow campers where the hatchets fly! You’ll be hitting the bullseye in no time at all. Plus, our friendly Camp Counselors will be there during your 2 hour session to assist and help keep score.
